@use 'base';

html {
  color: base.$brown2;
  width: 100%;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png);
  background-repeat: repeat;
}

body {
  overflow: auto !important;
  padding-right: 0px !important;
}